.second_main{
    height: 790px;
    width: 100%;
    background-color:rgb(110, 97, 100);
}

.heading2{
    font-size: 35px;
    color: whitesmoke;
    width: 600px;
    height: 300px;
    padding: 10px 5px;
}
.contentss{
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}
.para2{
   margin-top: 76px;
   font-size: 28px;
    color: whitesmoke;
    width: 500px;
    height: 300px;
    
}

#img1{
    margin-left: 200px;
    width: 1200px;
    height: 300px;
    object-fit: cover;
    padding: 46px;
}